In [ ]:
def promedio_pruebas(region:str, pruebas_lunes:int, pruebas_martes:int, pruebas_miercoles:int, \
                     pruebas_jueves:int, pruebas_viernes:int, pruebas_sabado:int, pruebas_domingo:int):
    
    suma= pruebas_lunes+ pruebas_martes+ pruebas_miercoles+ pruebas_jueves+ \
             pruebas_viernes+ pruebas_sabado+ pruebas_domingo
    
    return(f'El promedio de pruebas RT-CPR realizadas en la semana para la detecciÃ³n de covid-19 en {region} es de {round(suma/7, 1)}.')

In [23]:
def cambio_bitcoin(informacion:dict)-> dict:
    #informacion['billetera'] = '3er45ty67u'
    if informacion['billetera'] == '3er45ty67u':
        if informacion['cambio'] > 1000000:
            informacion['cambio'] = informacion['cambio'] + 50000
            if informacion['cambio'] <= informacion['saldo_inicial']:
                informacion['nuevo_saldo']= informacion['saldo_inicial'] - informacion['cambio']
                x= informacion['nuevo_saldo']
                informacion['mensaje']= f'Su billetera tiene actualmente: {x}'
                return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})
            else: 
                informacion['mensaje']= 'El cambio a Bitcoin supera el saldo'
                return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})
        elif informacion['cambio'] <= informacion['saldo_inicial']:
            informacion['nuevo_saldo']= informacion['saldo_inicial'] - informacion['cambio']
            x= informacion['nuevo_saldo']
            informacion['mensaje']= f'Su billetera tiene actualmente: {x}'
            return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})
        else:
            informacion['mensaje']= 'El cambio a Bitcoin supera el saldo'
            return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})
    else:
        informacion['mensaje']= 'Su billetera no existe'
        return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})

In [57]:
def calcular_ingresos(datos:list) -> dict:
    AC= 0
    LA= 0
    BC= 0
    LB= 0
    for client in datos:
        if client['tipo_seguro'] == 'bajo_cilindraje':
            AC= AC+client['valor_pagar']
            LA= LA+1
            
        else:
            BC= BC+client['valor_pagar']
            LB= LB +1
    print(LB)
    print(BC)
            
    if LB == 0:
        return({'total': int(AC+BC), 'promedio_bajo_cilindraje':round(AC/LA, 1), 'promedio_alto_cilindraje': 0})
    
    elif LA == 0:
        return({'total': int(AC+BC), 'promedio_bajo_cilindraje': 0, 'promedio_alto_cilindraje': round(BC/LB, 1)})
    
    else: 
        return({'total': int(AC+BC), 'promedio_bajo_cilindraje': round(AC/LA, 1), 'promedio_alto_cilindraje': round(BC/LB, 1)})

In [61]:
calcular_ingresos([{'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 50000}, \
                   {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 480000}, \
                   {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 150000}])

3
680000

{'total': 680000,
 'promedio_bajo_cilindraje': 0,
 'promedio_alto_cilindraje': 226666.7}

In [98]:
mi_dicc = {"A": 1, "B": 2, "C": 3}
sorted(mi_dicc, key=lambda x: mi_dicc[x]%3) # Retorna ['C', 'A', 'B']

mi_lista = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

filtrado = filter(lambda x: int(x) % 2 == 0, mi_lista)
x= list(filtrado)


filtrado2 = filter(lambda x: int(x) % 2 != 0, mi_lista)
filtrado2 = filter(lambda x: int(x), filtrado2)
x2= list(filtrado2)
x3= sum(list(map(int, x2)))

x1= list(map(int, x))
x4= list(map(lambda x: x*x3, x1))

x4= list(map(str, x4))
#x4
''.join(x4)
#x5

'50100150200250'

In [46]:
def mejor_promedio_anual(datos:dict) -> tuple:
    result= {'code': [], 'Prom': [], 'empresa':[]}
    for key in list(datos.keys()):
        result['empresa'].append(datos[key]['empresa'])
        p1= datos[key]['empresa'][:3]
        p2= list(filter(lambda x: int(x) %2 == 0, datos[key]['nit']))
        p2= list(map(int, p2))
        p3= list(filter(lambda x: int(x) %2 != 0, datos[key]['nit']))
        p3= sum(list(map(int, p3)))
        p4= list(map(lambda x: x*p3, p2))
        p5= list(map(str, p4))
        p6= p1 + ''.join(p5)
        result['code'].append(p6)
        suma_T= 0
        for i in range(len(datos[key]['ventas'])):
            key2= list(datos[key]['ventas'][i].keys())
            #print(datos[key]['ventas'][i][key2[0]])
            #print(key2)
            if 'blusass' in datos[key]['ventas'][i][key2[0]]:
                suma_T= suma_T + int(datos[key]['ventas'][i][key2[0]]['blusass']) + \
                int(datos[key]['ventas'][i][key2[0]]['perfumes']) + \
                int(datos[key]['ventas'][i][key2[0]]['jeans']) + \
                int(datos[key]['ventas'][i][key2[0]]['maquillaje'])
                
            else:
                suma_T= suma_T + int(datos[key]['ventas'][i][key2[0]]['blusas']) + \
                int(datos[key]['ventas'][i][key2[0]]['perfumes']) + \
                int(datos[key]['ventas'][i][key2[0]]['jeans']) + \
                int(datos[key]['ventas'][i][key2[0]]['maquillaje'])
                
        result['Prom'].append(suma_T/48)
        
    return((result['code'][result['Prom'].index(max(result['Prom']))], \
           result['empresa'][result['Prom'].index(max(result['Prom']))], \
           round(max(result['Prom']), 2)))

In [36]:
datos = {
    "01": {
        "empresa": "Avon",
        "nit": "12345678",
        "url": "www.avon.com.co",
        "ventas": [
            {
                "enero": {
                    "blusas": 250000,
                    "perfumes": 40000,
                    "jeans": 560000,
                    "maquillaje": 280000
                }
            },
            {
                "febrero": {
                    "blusas": 750000,
                    "perfumes": 890000,
                    "jeans": 920000,
                    "maquillaje": 340000
                }
            },
            {
                "marzo": {
                    "blusas": 730000,
                    "perfumes": 460000,
                    "jeans": 820000,
                    "maquillaje": 120000
                }
            },
            {
                "abril": {
                    "blusas": 450000,
                    "perfumes": 640000,
                    "jeans": 920000,
                    "maquillaje": 190000
                }
            },
            {
                "mayo": {
                    "blusas": 580000,
                    "perfumes": 940000,
                    "jeans": 250000,
                    "maquillaje": 630000
                }
            },
            {
                "junio": {
                    "blusas": 940000,
                    "perfumes": 120000,
                    "jeans": 750000,
                    "maquillaje": 340000
                }
            },
            {
                "julio": {
                    "blusas": 120000,
                    "perfumes": 850000,
                    "jeans": 960000,
                    "maquillaje": 540000
                }
            },
            {
                "agosto": {
                    "blusas": 650000,
                    "perfumes": 250000,
                    "jeans": 250000,
                    "maquillaje": 860000
                }
            },
            {
                "septiembre": {
                    "blusass": 640000,
                    "perfumes": 450000,
                    "jeans": 250000,
                    "maquillaje": 940000
                }
            },
            {
                "octubre": {
                    "blusas": 340000,
                    "perfumes": 950000,
                    "jeans": 870000,
                    "maquillaje": 820000
                }
            },
            {
                "noviembre": {
                    "blusass": 830000,
                    "perfumes": 670000,
                    "jeans": 730000,
                    "maquillaje": 820000
                }
            },
            {
                "diciembre": {
                    "blusas": 240000,
                    "perfumes": 340000,
                    "jeans": 150000,
                    "maquillaje": 480000
                }
            }
        ]
    },
    "02": {
        "empresa": "Natura",
        "nit": "7865432",
        "url": "www.natura.com",
        "ventas": [
            {
                "enero": {
                    "blusas": 150000,
                    "perfumes": 920000,
                    "jeans": 280000,
                    "maquillaje": 470000
                }
            },
            {
                "febrero": {
                    "blusas": 750000,
                    "perfumes": 650000,
                    "jeans": 920000,
                    "maquillaje": 570000
                }
            },
            {
                "marzo": {
                    "blusas": 250000,
                    "perfumes": 250000,
                    "jeans": 270000,
                    "maquillaje": 650000
                }
            },
            {
                "abril": {
                    "blusas": 920000,
                    "perfumes": 230000,
                    "jeans": 850000,
                    "maquillaje": 490000
                }
            },
            {
                "mayo": {
                    "blusas": 950000,
                    "perfumes": 830000,
                    "jeans": 190000,
                    "maquillaje": 950000
                }
            },
            {
                "junio": {
                    "blusas": 950000,
                    "perfumes": 950000,
                    "jeans": 530000,
                    "maquillaje": 760000
                }
            },
            {
                "julio": {
                    "blusas": 870000,
                    "perfumes": 960000,
                    "jeans": 480000,
                    "maquillaje": 290000
                }
            },
            {
                "agosto": {
                    "blusas": 780000,
                    "perfumes": 340000,
                    "jeans": 840000,
                    "maquillaje": 340000
                }
            },
            {
                "septiembre": {
                    "blusas": 560000,
                    "perfumes": 840000,
                    "jeans": 850000,
                    "maquillaje": 530000
                }
            },
            {
                "octubre": {
                    "blusas": 190000,
                    "perfumes": 820000,
                    "jeans": 490000,
                    "maquillaje": 820000
                }
            },
            {
                "noviembre": {
                    "blusas": 560000,
                    "perfumes": 670000,
                    "jeans": 450000,
                    "maquillaje": 670000
                }
            },
            {
                "diciembre": {
                    "blusas": 920000,
                    "perfumes": 820000,
                    "jeans": 760000,
                    "maquillaje": 890000
                }
            }
        ]
    }
}

In [47]:
mejor_promedio_anual(datos)
#2539166.67/4

#'blusass' in datos['01']['ventas'][11]['noviembre']

('Nat120906030', 'Natura', 634791.67)

In [23]:
datos.keys()
datos['01']['ventas'][1]['enero']['blusas']

KeyError: 'enero'

In [11]:
x= [1, 2, 4, 6, 7, 9]
x.index(max(x))

5

In [8]:
x= {'empresa':'Natura'}
x['empresa'][:3]
mi_lista= ['1', '2', '3', '4']
#filtrado = filter(lambda x: int(x) % 2 == 0, mi_lista)
#x= list(filtrado)

x['empresa'][:3] + ''.join(mi_lista)

'Nat1234'

In [103]:
mejor_promedio_anual([{'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 50000}, \
                   {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 480000}, \
                   {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 150000}])

[{'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 50000},
 {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 480000},
 {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 150000}]

In [106]:
import pandas as pd

In [147]:
data= pd.read_csv('https://misiontic.000webhostapp.com/casos_covid.csv', sep= ';')
data

     ID de caso,Fecha de notificaciÃ³n,CÃ³digo DIVIPOLA,Ciudad de ubicaciÃ³n,Departamento o Distrito ,atenciÃ³n,Edad,Sexo,Tipo,Estado,PaÃ­s de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperaciÃ³n,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico,ubicaciÃ³n recuperado
0     1,2020-03-02T00:00:00.000,11001,BogotÃ¡ D.C.,Bo...
1     2,2020-03-06T00:00:00.000,76111,Guadalajara de...
2     3,2020-03-07T00:00:00.000,5001,MedellÃ­n,Antioq...
3     4,2020-03-09T00:00:00.000,5001,MedellÃ­n,Antioq...
4     5,2020-03-09T00:00:00.000,5001,MedellÃ­n,Antioq...
...                                                 ...
9955  9996,2020-05-04T00:00:00.000,11001,BogotÃ¡ D.C....
9956  9997,2020-05-05T00:00:00.000,11001,BogotÃ¡ D.C....
9957  9998,2020-05-05T00:00:00.000,11001,BogotÃ¡ D.C....
9958  9999,2020-05-05T00:00:00.000,11001,BogotÃ¡ D.C....
9959  10000,2020-05-05T00:00:00.000,11001,BogotÃ¡ D.C...

[9960 rows x 1 columns]

In [143]:
data.columns.values
x= data[data['Estado'] == 'Fallecido']
x['atenciÃ³n'].unique()
#data[data['Estado'].isnull()]

array(['Fallecido'], dtype=object)

In [137]:
str(data['Edad'].mode()[0])

'29'

In [144]:
def estudio_covid(ruta_datos:str) ->dict:
    #import pandas as pd
    data= pd.read_csv(ruta_datos)
    dataF= data[data['Edad'] == data['Edad'].mode()[0]]
    return({'edad_mayor_contagio': str(data['Edad'].mode()[0]), \
            'cantidad_contagios': len(dataF[dataF['Estado'] != 'Fallecido']), \
           'fallecidos': len(dataF[dataF['Estado'] == 'Fallecido'])})

In [145]:
estudio_covid('https://misiontic.000webhostapp.com/casos_covid.csv')

{'edad_mayor_contagio': '29', 'cantidad_contagios': 271, 'fallecidos': 3}