In [ ]:
def promedio_pruebas(region:str, pruebas_lunes:int, pruebas_martes:int, pruebas_miercoles:int, \
                     pruebas_jueves:int, pruebas_viernes:int, pruebas_sabado:int, pruebas_domingo:int):
    
    suma= pruebas_lunes+ pruebas_martes+ pruebas_miercoles+ pruebas_jueves+ \
             pruebas_viernes+ pruebas_sabado+ pruebas_domingo
    
    return(f'El promedio de pruebas RT-CPR realizadas en la semana para la detección de covid-19 en {region} es de {round(suma/7, 1)}.')

In [23]:
def cambio_bitcoin(informacion:dict)-> dict:
    #informacion['billetera'] = '3er45ty67u'
    if informacion['billetera'] == '3er45ty67u':
        if informacion['cambio'] > 1000000:
            informacion['cambio'] = informacion['cambio'] + 50000
            if informacion['cambio'] <= informacion['saldo_inicial']:
                informacion['nuevo_saldo']= informacion['saldo_inicial'] - informacion['cambio']
                x= informacion['nuevo_saldo']
                informacion['mensaje']= f'Su billetera tiene actualmente: {x}'
                return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})
            else: 
                informacion['mensaje']= 'El cambio a Bitcoin supera el saldo'
                return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})
        elif informacion['cambio'] <= informacion['saldo_inicial']:
            informacion['nuevo_saldo']= informacion['saldo_inicial'] - informacion['cambio']
            x= informacion['nuevo_saldo']
            informacion['mensaje']= f'Su billetera tiene actualmente: {x}'
            return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})
        else:
            informacion['mensaje']= 'El cambio a Bitcoin supera el saldo'
            return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})
    else:
        informacion['mensaje']= 'Su billetera no existe'
        return({'btc':informacion['btc'], 'usuario':informacion['usuario'], 'mensaje':informacion['mensaje']})

In [57]:
def calcular_ingresos(datos:list) -> dict:
    AC= 0
    LA= 0
    BC= 0
    LB= 0
    for client in datos:
        if client['tipo_seguro'] == 'bajo_cilindraje':
            AC= AC+client['valor_pagar']
            LA= LA+1
            
        else:
            BC= BC+client['valor_pagar']
            LB= LB +1
    print(LB)
    print(BC)
            
    if LB == 0:
        return({'total': int(AC+BC), 'promedio_bajo_cilindraje':round(AC/LA, 1), 'promedio_alto_cilindraje': 0})
    
    elif LA == 0:
        return({'total': int(AC+BC), 'promedio_bajo_cilindraje': 0, 'promedio_alto_cilindraje': round(BC/LB, 1)})
    
    else: 
        return({'total': int(AC+BC), 'promedio_bajo_cilindraje': round(AC/LA, 1), 'promedio_alto_cilindraje': round(BC/LB, 1)})

In [61]:
calcular_ingresos([{'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 50000}, \
                   {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 480000}, \
                   {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 150000}])

3
680000

{'total': 680000,
 'promedio_bajo_cilindraje': 0,
 'promedio_alto_cilindraje': 226666.7}

In [98]:
mi_dicc = {"A": 1, "B": 2, "C": 3}
sorted(mi_dicc, key=lambda x: mi_dicc[x]%3) # Retorna ['C', 'A', 'B']

mi_lista = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

filtrado = filter(lambda x: int(x) % 2 == 0, mi_lista)
x= list(filtrado)


filtrado2 = filter(lambda x: int(x) % 2 != 0, mi_lista)
filtrado2 = filter(lambda x: int(x), filtrado2)
x2= list(filtrado2)
x3= sum(list(map(int, x2)))

x1= list(map(int, x))
x4= list(map(lambda x: x*x3, x1))

x4= list(map(str, x4))
#x4
''.join(x4)
#x5

'50100150200250'

In [102]:
def mejor_promedio_anual(datos:dict) -> tuple:
    result= {'code': [], 'Prom': [], 'empresa':[]}
    for key in list(datos.keys):
        result['empresa'].append(datos[key]['empresa'])
        p1= datos[key]['empresa'][:3]
        p2= list(filter(lambda x: int(x) %2 == 0, datos[key]['nit']))
        p2= list(map(int, p2))
        p3= list(filter(lambda x: int(x) %2 != 0, datos[key]['nit']))
        p3= sum(list(map(int, p3)))
        p4= list(map(lambda x: x*p3, p2))
        p5= p1 + ''.join(p4)
        result['code'].append(p5)
        suma_T= 0
        for i in range(len(datos[key]['ventas'])):
            for key2 in list(datos[key]['ventas'][i].keys()):
                suma_T= suma_T + int(datos[key]['ventas'][i][key2]['blusas']) + \
                int(datos[key]['ventas'][i][key2]['perfumes']) + \
                int(datos[key]['ventas'][i][key2]['jeans']) + \
                int(datos[key]['ventas'][i][key2]['maquillaje'])
        result['Prom'].append(suma_T/12)
        
    return((result['code'][result['Prom'].index(max(result['Prom']))], \
           result['empresa'][result['Prom'].index(max(result['Prom']))], \
           round(max(result['Prom']), 2)))

In [11]:
x= [1, 2, 4, 6, 7, 9]
x.index(max(x))

5

In [8]:
x= {'empresa':'Natura'}
x['empresa'][:3]
mi_lista= ['1', '2', '3', '4']
#filtrado = filter(lambda x: int(x) % 2 == 0, mi_lista)
#x= list(filtrado)

x['empresa'][:3] + ''.join(mi_lista)

'Nat1234'

In [103]:
mejor_promedio_anual([{'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 50000}, \
                   {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 480000}, \
                   {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 150000}])

[{'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 50000},
 {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 480000},
 {'tipo_seguro': 'alto_cilindraje', 'valor_pagar': 150000}]

In [106]:
import pandas as pd

In [147]:
data= pd.read_csv('https://misiontic.000webhostapp.com/casos_covid.csv', sep= ';')
data

     ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito ,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico,ubicación recuperado
0     1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bo...
1     2,2020-03-06T00:00:00.000,76111,Guadalajara de...
2     3,2020-03-07T00:00:00.000,5001,Medellín,Antioq...
3     4,2020-03-09T00:00:00.000,5001,Medellín,Antioq...
4     5,2020-03-09T00:00:00.000,5001,Medellín,Antioq...
...                                                 ...
9955  9996,2020-05-04T00:00:00.000,11001,Bogotá D.C....
9956  9997,2020-05-05T00:00:00.000,11001,Bogotá D.C....
9957  9998,2020-05-05T00:00:00.000,11001,Bogotá D.C....
9958  9999,2020-05-05T00:00:00.000,11001,Bogotá D.C....
9959  10000,2020-05-05T00:00:00.000,11001,Bogotá D.C...

[9960 rows x 1 columns]

In [143]:
data.columns.values
x= data[data['Estado'] == 'Fallecido']
x['atención'].unique()
#data[data['Estado'].isnull()]

array(['Fallecido'], dtype=object)

In [137]:
str(data['Edad'].mode()[0])

'29'

In [144]:
def estudio_covid(ruta_datos:str) ->dict:
    #import pandas as pd
    data= pd.read_csv(ruta_datos)
    dataF= data[data['Edad'] == data['Edad'].mode()[0]]
    return({'edad_mayor_contagio': str(data['Edad'].mode()[0]), \
            'cantidad_contagios': len(dataF[dataF['Estado'] != 'Fallecido']), \
           'fallecidos': len(dataF[dataF['Estado'] == 'Fallecido'])})

In [145]:
estudio_covid('https://misiontic.000webhostapp.com/casos_covid.csv')

{'edad_mayor_contagio': '29', 'cantidad_contagios': 271, 'fallecidos': 3}